# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Éditeurs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environnement
.env
.env.local
*.env
!.env.example

# Node / Next.js
node_modules/
.next/
out/
dist/